# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FSProfessional/src/frontend/node_modules
FSProfessional/src/frontend/.pnp
FSProfessional/src/frontend/.pnp.js

# testing
FSProfessional/src/frontend/coverage

# production
FSProfessional/src/frontend/build

# misc
FSProfessional/src/frontend/.DS_Store
FSProfessional/src/frontend/.env.local
FSProfessional/src/frontend/.env.development.local
FSProfessional/src/frontend/.env.test.local
FSProfessional/src/frontend/.env.production.local

FSProfessional/src/frontend/npm-debug.log*
FSProfessional/src/frontend/yarn-debug.log*
FSProfessional/src/frontend/yarn-error.log*
